<div class="container">
    <div class="card m-3 p-4">
        <div class="card-title"><h3>Please start the test</h3></div>
        <div class="card-body">
            <form action="/user/test/submit" method="POST">
                {{#each test}}
                    <div><p class="font-weight-bold">{{this.question}}<p></div>
                    <div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="{{this.option1}}" name="{{this.questionNumber}}" value="{{this.option1}}"
                                   class="custom-control-input" required>
                            <label class="custom-control-label" for="{{this.option1}}">{{this.option1}}</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="{{this.option2}}" name="{{this.questionNumber}}" value="{{this.option2}}"
                                   class="custom-control-input">
                            <label class="custom-control-label" for="{{this.option2}}">{{this.option2}}</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="{{this.option3}}" name="{{this.questionNumber}}" value="{{this.option3}}"
                                   class="custom-control-input">
                            <label class="custom-control-label" for="{{this.option3}}">{{this.option3}}</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="{{this.option4}}" name="{{this.questionNumber}}" value="{{this.option4}}"
                                   class="custom-control-input">
                            <label class="custom-control-label" for="{{this.option4}}">{{this.option4}}</label>
                        </div>
                    </div>
                    <br>
                {{/each}}
                <br>
                <input class="btn btn-success btn-small" type="submit" value="Submit the answers">
            </form>
        </div>
    </div>
</div>